@charset "utf-8";
/*--------------------------------------------------------------------
[ 格式化页面 ]
*/
* {
  padding: 0px;
  margin: 0px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
  overflow: hidden;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0 !important;
}
caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  overflow: hidden;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}
a {
  color: #3d404b;
  text-decoration: none;
}
input,
select,
option,
textarea {
  font-size: 12px;
}

br {
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
#outApp > div {
  width: 100%;
  height: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* input 有黄色背景*/
/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
} */
/* 滚动槽 */
/* ::-webkit-scrollbar-track {
  border-radius: 7px;
} */
/* 滚动条滑块 */
/* ::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: rgba(203, 214, 255, 0.6);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(203, 214, 255, 0.6);
} */
